extends ../_layout.pug

block title
  title Imprint

block styles
  link(href=cssWebsite + 'imprint.css', rel='stylesheet')

block scripts
  script(src=jsWebsite + 'imprint.js')

block view
  h1 Imprint
