extends ../_layout.pug

block title
  title Privacy

block styles
  link(href=cssWebsite + 'privacy.css', rel='stylesheet')

block scripts
  script(src=jsWebsite + 'privacy.js')

block view
  h1 Privacy
