extends ../_layout.pug

block title
  title Services

block styles
  link(href=cssWebsite + 'services.css', rel='stylesheet')

block scripts
  script(src=jsWebsite + 'services.js')

block view
  h1 Services
