<?xml version="1.0" encoding="UTF-8"?>
    <phpunit bootstrap="Vendor\System\SimpleTest.php"
                verbose="true"
                stopOnFailure="false">
        <testsuites>
            <testsuite name="My Test Suite">
                <directory>Vendor\System</directory>
            </testsuite>
        </testsuites>
    </phpunit>