@import "../../layout";

@include disableClick;

.filter {
  .filter-icon {
    cursor: pointer;

    svg,li {
      font-size: 10px;
      margin-left: 5px;
    }
    li.open, svg.open {
      transform: rotateX(180deg);
    }
  }

  form {
    display: none;
  }
}

table {
  background: #fff;

  .search-input input {
    border: none;
    border-radius: 0;
    outline: none;

    &:focus {
      border-bottom: 1px solid #ffc107;
      box-shadow: 0 1px 0 0 #ffc107 !important;
    }
  }

  .user-name a {
    text-transform: capitalize;
  }
}
