@import "../../layout";
@import "../../../libs/update.scss";

td:not([data-name="email"]) {
  // text-transform: capitalize;

  .flag-icon {
    margin-right: 5px;
  }
}
.img-thumbnail {
  cursor: pointer;
  user-select: none;
}
.img-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10001;
  background: #00000085;

  .img-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .img {
      width: 50vh;

      .img-box-close {
        display: inline;
        position: relative;
        bottom: -27px;
        left: 6px;
        background: #fff;
        border-radius: 5px;
        padding: 3px;
        box-sizing: content-box;
        cursor: pointer;
      }
      img {
        width: 100%;
        user-select: none;
      }
    }
  }
}
