//- imgs folder
- var imgs      = _public  + 'imgs/'
- var logos     = imgs     + 'logos/'
- var adminImgs = imgs     + 'admin/'
//- uploads folders
- var uploads   = _public  + 'uploads/'
- var usersImgs = uploads  + 'images/users/'
//- css folder
- var css       = _public  + 'css/'
- var cssAdmin  = css      + 'admin/'
- var cssLibs   = css      + 'libs/'
//- js folder
- var js        = _public + 'js/'
- var jsAdmin   = js      + 'admin/'
- var jsLibs    = js      + 'libs/'
- var classes   = js      + 'classes/'
block varibles

doctype html
html(lang='en')
  head
    include partials/head.pug
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap' rel='stylesheet')
    block styles
  body.app.header-fixed.sidebar-fixed.aside-menu-fixed.sidebar-lg-show
    //- noscript
      style(type='text/css').
        .app-header, .app-body, .app-footer {display:none;}
      p.alert.alert-danger.text-center You need to enable Javascript
    if !loginPage
      include partials/header.pug
      .app-body
        include partials/sidebar.pug
        main.main
          include partials/breadcrumb.pug
          .container-fluid
            block view
        include partials/aside.pug
      include partials/footer.pug
    else
      .container-fluid
        block view
    block scripts
