//-- Scripts
script(src=js + ds + 'libs' + ds + 'jquery.min.js')
script(src=js + ds + 'libs' + ds + 'bootstrap.min.js')
script(src=js + ds + 'libs' + ds + 'all.min.js')
script(src=js + ds + 'website' + ds + 'script.js')
block scripts
