@mixin small {
  @media (max-width: 576px) { @content; }
}
@mixin medium {
  @media (max-width: 768px) { @content; }
}
@mixin large {
  @media (max-width: 992px) { @content; }
}
@mixin extra-large {
  @media (max-width: 1200px) { @content; }
}
@mixin custom-width($width) {
  @media (max-width: $width) { @content; }
}
