@import './layout';

body {
  background-image: url('/public/imgs/website/404/404.webp');
  background-size: cover;
}

.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    font-size: 10vmin;
    font-family: cursive;
  }

  > div {
    margin: 3vmin 0 1vmin;
    color: $black;
    text-align: center;

    .quote {
      color: $blue;
      background: $yellow;
      padding: 14px;
      text-shadow: -1px 0 7px $white;
      font-size: 2vmin;
    }
  }

  a {
    font-size: 1.5vmin;
    color: $white;
  }
}
