$white: #fff;
$black: #2b2828;
$blue: #669dd1;
$yellow: #ffc83d;
$shadow: #aaa;
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


h1 {
  font-size: 20vmin;
  font-family: cursive;
  color: $black;
  text-shadow: 10px 10px 10px $shadow;
}
