extends ../../layout.pug

block title
  title Add new User

block styles
  link(href=styles + ds + 'users' + ds + 'add.css', rel='stylesheet')
  link(href=css + ds + 'libs' + ds + 'bootstrap-datepicker.min.css', rel='stylesheet')

block scripts
  script(src=scripts + ds + 'users' + ds + 'add.js')
  script(src=js + ds + 'libs' + ds + 'bootstrap-datepicker.min.js')

block view
