//- imgs folder
- var imgs      = _public  + 'imgs/'
- var logos     = imgs     + 'logos/'
- var adminImgs = imgs     + 'admin/'

//- uploads folders
- var uploads   = _public  + 'uploads/'

//- css folder
- var css       = _public  + 'css/'
- var cssAdmin  = css      + 'admin/'
- var cssLibs   = css      + 'libs/'

//- js folder
- var js        = _public  + 'js/'
- var jsAdmin   = js       + 'admin/'
- var jsLibs    = js       + 'libs/'

block varibles

doctype html
html(lang='en')
  head
    include partials/head.pug
    block styles
  body
    block view
    include partials/footer.pug
    block scripts
