//- imgs folder
- var imgs        = _public + 'imgs'    + '/'
- var logos       = imgs    + 'logos'   + '/'
- var adminImgs   = imgs    + 'admin'   + '/'
//- uploads folders
- var uploads     = _public + 'uploads' + '/'
- var usersImgs   = uploads + 'images'  + '/' + 'users' + '/'
//- css folder
- var css         = _public + 'css'     + '/'
- var cssLibs     = css     + 'libs'    + '/'
- var adminCss    = css     + 'admin'   + '/'
//- js folder
- var js          = _public + 'js'      + '/'
- var jsLibs      = js      + 'libs'    + '/'
- var adminJs     = js      + 'admin'   + '/' + 'pages' + '/'
block varibles
doctype html
html(lang='en')
  head
    include partials/head.pug
    include partials/styles.pug
  body.app.header-fixed.sidebar-fixed.aside-menu-fixed.sidebar-lg-show
    if !loginPage
      include partials/header.pug
      .app-body
        include partials/sidebar.pug
        main.main
          include partials/breadcrumb.pug
          .container-fluid
            block view
        include partials/aside.pug
      include partials/footer.pug
    else
      .container-fluid
        block view
    include partials/scripts.pug
