extends ../_layout.pug

block title
  title 404

block styles
  link(href=cssWebsite + '404.css', rel='stylesheet')

block scripts
  script(src=jsWebsite + '404.js')

block view
  .notfound
    h1 OOPS! 404 😲
    div
      hr
      p.quote A lot of hard work is hidden behind nice things.
    a(href='/') Go to Home
