extends ../_layout.pug

block title
  title Contact

block styles
  link(href=cssWebsite + 'contact.css', rel='stylesheet')

block scripts
  script(src=jsWebsite + 'contact.js')

block view
  h1 Contact
