extends ../layout.pug

block title
  title Contact

block styles
  link(href=websiteCss + 'contact.css', rel='stylesheet')

block scripts
  script(src=websiteJs + 'contact.js')

block view
  h1 Contact
