extends ../_layout.pug

block title
  title Home

block styles
  link(href=cssWebsite + 'home.css', rel='stylesheet')

block scripts
  script(src=jsWebsite + 'home.js')

block view
  h1 Home
  <i class="fas fa-ad"></i>
