extends ../layout.pug

block title
  title Imprint

block styles
  link(href=websiteCss + 'imprint.css', rel='stylesheet')

block scripts
  script(src=websiteJs + 'imprint.js')

block view
  h1 Imprint
