extends ../layout.pug

block title
  title Privacy

block styles
  link(href=websiteCss + 'privacy.css', rel='stylesheet')

block scripts
  script(src=websiteJS + 'privacy.js')

block view
  h1 Privacy
