extends ../layout.pug

block title
  title Services

block styles
  link(href=styles + 'services.css', rel='stylesheet')

block scripts
  script(src=scripts + 'services.js')

block view
  h1 Services
