// Mixins
@import '../mixin/mediaQueries';
@import '../mixin/disableClick';

$errorcolor: #f27070;
$successcolor: #dbf2e3;

body {
  font-family: 'Roboto Condensed', sans-serif;
}

// Global
.success-bg {
  background-color: $successcolor;
}

.error-input {
  border-color: $errorcolor !important;
}

.error-msg {
  color: $errorcolor !important;
}

.prevent-click {
  pointer-events: none;
}

.loading {
  animation: loading .6s infinite linear;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Dashboard
ol {
  &.breadcrumb {
    li {
      text-transform: capitalize;
    }
  }
}
