.wrong {
  animation: wrong .3s 1;
}
@keyframes wrong {
  0% {
    transform: translateX(10px);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

// Dashboard
ol.breadcrumb {
  li {
    text-transform: capitalize;
  }
}

.loading {
  animation: loading .6s infinite linear;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
