@import './layout';

$boxshadowcolor: #c8cccf;

.wrong {
  animation: wrong .3s 1;
}

@keyframes wrong {
  0% {
    transform: translateX(10px);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  90% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.main {
  margin: 0 !important;
}

.form-check-input {
  position: relative;
  margin-left: 0;
}

.form-check-label {
  margin-left: 3px;
}

.card-group {
  box-shadow: 0 0 10px $boxshadowcolor;
}

.logo {
  img {
    display: block;
    margin: 0 auto 20px;
    width: 50%;
  }
}
