$fa-font-path: '../../webfonts';
$flag-icon-css-path: '../../flags';
$simple-line-font-path: '../../fonts/';
$coreui-icons-font-path: '../../fonts';

@import '../layout';

@include disable-click;

$white: #fff;
$yellow: #ffc107;

.filter {
  .filter-icon {
    cursor: pointer;

    svg,
    li {
      font-size: 10px;
      margin-left: 5px;
    }

    li,
    svg {
      &.open {
        transform: rotateX(180deg);
      }
    }
  }

  form {
    display: none;
  }
}

table {
  background: $white;

  .search-input {
    input {
      border: 0;
      border-radius: 0;
      outline: none;
    }

    &:focus {
      border-bottom: 1px solid $yellow;
      box-shadow: 0 1px 0 0 $yellow !important;
    }
  }

  .user-name {
    a {
      text-transform: capitalize;
    }
  }
}
