//-- Breadcrumb
ol.breadcrumb
  if parameters.length > 1
    each parameter in parameters
      li.breadcrumb-item
        if parameter.name === 'admin'
          a(href=host + parameter.link) dashboard
        else
          a(href=host + parameter.link)= parameter.name
    //-- Breadcrumb Menu
  li.breadcrumb-menu.d-md-down-none
    .btn-group(role='group', aria-label='Button group')
      block header-right-unser-profile
